@font-face {
    font-family: 'Roboto';
    src: url(/fonts/Roboto-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto Italic';
    src: url(/fonts/Roboto-LightItalic.ttf) format('truetype');
}
* {
    font-family: 'Roboto', sans-serif;
}
.header-section {
    background-color: #1f2937;
}
.company-logo {
    left: 232px;
    position: relative;
    width: 200px;
    height: 50px;
}
.header-navigation{
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}
.header-nav-links {
    position: relative;
    right: 15%;
}
.link {
    opacity: 80%;
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    padding: 10px;
}
.link:hover {
    color: rgb(255, 255, 255);
    opacity: 100%;
}
.header-text {
    display: flex;
    padding-left: 5.3%;
    justify-content: space-around;
}
.header-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
.about-the-card {
    opacity: 80%;
    font-size: 18px;
    color: #E5E7EB;
}
.header-image-box {
    position: relative;
    display: inline-block;
    padding: 50px;
    right: 135px;
}
.header-image {
    border-radius: 16px;
    height: 280px;
    width: 600px;
}
.header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 8px;
    background-color: #3882F6;
    height: 35px;
    width: 105px;
}
.header-button-text {
    color: #F9FAF8;
}
.header-button:hover {
    box-shadow: 2px 2px 3px rgb(206, 204, 204);
    cursor: pointer;
}
.info-section {
    display: flex;
    justify-content: center;
}
.info-section-title {
    padding: 20px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}
.info-section-main {
    display: flex;
    justify-content: center;
}
.info-section-pictureboxes {
    background-size: initial;
    margin: 20px 50px;
}
.info-section-picture {
    border-radius: 12px;
    border: 4px solid #3882F6;
    height: 200px;
    width: 200px;
}
.info-section-label {
    font-weight: 500;
    color: rgb(116, 114, 114);
    text-align: center;
}
.quote-section {
    padding: 100px;
    background-color: #E5E7EB;
}
.quote-textbox {
    justify-content: center;
    display: flex;
    position: relative;
    font-size: 36px;
    font-family: 'Roboto Italic';
    color: #1F2937;
    opacity: 90%;
}
.quote-text {
    position: relative;
    display: inline-block;
}
.quote-text-signature {
    margin-left: 71%;
    display: inline-block;
    position: relative;
    font-size: 26px;
    font-weight: 700;
}
.newsletter-section {
    margin-left: 140px;
    margin-right: 140px;
    padding: 100px;
    background-color: white;
}
.newsletter-text-section {
    border-radius: 12px;
    display: flex;
    color: white;
    background: #3882F6;
    box-shadow: 4px 4px 5px gray;
}
.newsletter-text {
    left: 150px;
    position: relative;
    padding: 20px;
    display: inline-block;
}
.newsletter-paragraph {
    opacity: 95%;
    font-weight: 500;
}
.newsletter-button {
    margin-top: 60px;
    left: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 8px;
    height: 35px;
    width: 105px;
    border: 2px solid #F9FAF8;
    color: #E5E7EB;
    font-weight: 500;
}
.newsletter-button:hover {
    color: #3882F6;
    background-color: #F9FAF8;
    cursor: pointer;
}
.footer-section {
    padding: 15px;
    background-color: #1F2937;
}
.footer-section-title {
    text-align: center;
    color: #F9FAF8;
}
#headquarters {
    border-radius: 16px;
}
.him-header-text {
    display: flex;
    padding-left: 5.8%;
    justify-content: space-around;
}
.him-header-image-box {
    position: relative;
    display: inline-block;
    padding: 50px;
    right: 117px;
}
.spec-header-text {
    display: flex;
    padding-left: 11%;
    justify-content: space-around; 
}
.spec-header-image-box {
    position: relative;
    display: inline-block;
    padding: 50px;
    right: 100px;
}
.float {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color: #3882F6;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
}
.my-float{
	margin-top:22px;
}
.float:hover {
    color: red;
}